  .tabs-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    
    .tab-section {
        font-size: 20px;
        font-family: Source Sans Pro Regular;
        color: #5D5D5D;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .icon-arrow {
            background-image: url('assets/images/card_toggle_arrow.svg');
            display: inline-block;
            width: 70px;
            height: 70px;
            background-size: 100%;
            margin-right: 20px;
            margin-left: -15px;
            outline: none !important;
            
        }
    }
}