.tabs-group {
    .tabs-container {
        padding-top: 50px;
        display: flex;
        align-items: center;
        
        .tab-section-active{
            font-size: 20px;
            font-family: Source Sans Pro Regular;
            color: #5D5D5D;
            display: flex;
            align-items: center;
            cursor: pointer;
            
            .icon-arrow {
                display: inline-block;
                width: 70px;
                height: 70px;
                background-size: 100%;
                margin-right: 20px;
                margin-left: -15px;
                outline: none !important;
            }
            .icon-arrow-down {
                @extend .icon-arrow;
                background-image: url('assets/images/card_toggle_arrow_down.svg');
            }
            .icon-arrow-up {
                @extend .icon-arrow;
                background-image: url('assets/images/card_toggle_arrow_up.svg');
            }
        }

        .tab-section-disabled {
            @extend .tab-section-active;
            color: #B4B4B4;
            pointer-events: none;
            .icon-arrow-down {
                @extend .icon-arrow;
                background-image: url('assets/images/card_toggle_arrow_down_disabled.svg');
            }
            .icon-arrow-up {
                @extend .icon-arrow;
                background-image: url('assets/images/card_toggle_arrow_up_disabled.svg');
            }
        }
    }
    
    hr {
        margin-top: -23px;
        margin-left: -0px;
        border-top: 1px solid #00739D;
        width: 300px;
    }
}
