.search-card-section {
    width: 250px;
    border: 2px solid #B4B4B4;
    margin-right: 20px;

    .card-content {
        padding: 25px;
        margin: 0;
        color: #1f1f1f;
        font-size: 18px;
        font-family: Source Sans Pro light;
    }

    .times-number {
        width: 30px;
        height: 20px;
        float: right;
        font-size: 12px;
        text-align: center;
        border-radius: 10px;;
        border: 1px solid #00739D;
        margin-right: 10px;
        margin-bottom: 8px;
        color: #00739D;
        font-family: Source Sans Pro semibold;
    }
}