.search-wrapper {
    padding-top: 50px;

    .search-section{
        width: 100%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        .gw-logo-blue {
            background-image: url('assets/images/gw_logo_blue.svg');
            display: block;
            width: 50px;
            height: 50px;
            background-size: 100%;
            margin-right: 20px;
            outline: none !important;
        }

        .search-form {
            width: 100%;
            display: flex;
        }

        .md-form {
            width: 100%;
            position: relative;
        }

        input[type="text"], textarea {
            outline: none !important;
            box-shadow:none !important;
            height: 50px;
            font-family: 'Source Sans Pro light', sans-serif;
            font-size: 32px;
            color: #9B9B9B;
            &::placeholder {
                color: #9B9B9B;
            }
            border-radius: 0;
        }

        .icon-search {
            background-image: url('assets/images/search_black.svg');
            display: block;
            width: 28px;
            height: 28px;
            background-size: 100%;
            outline: none !important;
            position: absolute;
            right:10px;
            top: 10px;;
        }

        .form-control {
            border-bottom: 1px solid #979797;
        }
    }
}
